@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
/*meyer reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
        display: block;
}
body {
        line-height: 1;
}
ol, ul {
        list-style: none;
}
blockquote, q {
        quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content: '';
        content: none;
}
table {
        border-collapse: collapse;
        border-spacing: 0;
}

/* meyer reset */

@font-face {
    font-family: "Norse";
    src: url("./assets/norse-bold-webfont.woff") format("woff"),
    url("./assets/norse-bold-webfont.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}


:root {
    box-sizing: border-box;
    overflow-y: hidden;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    font-size: calc(1vh + 1vw);
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.left > img {
    height: 100%;
    width: auto;
}

.left {
    position: relative;
    height: 100%;
    width: auto;
}

.banner {
    position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
    height: 15%;
    color: white;
    background-color: rgb(0,0,0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner > img {
    height: 90%;
    width: auto;
}

.banner > p {
    font-family: "Norse";
    font-size: 3.5em;
    margin: 0;
}

.left-footer {
    position: absolute;
    bottom: 3%;
    font-size: 0.5rem;
    color: white;
    width: 100%;
    text-align: center;
}

.left-footer > a {
    color: white;
}

.left-footer > a:hover {
    color: gray;
}

.right {
    display: flex;
    flex-direction: column;
    flex: auto;
    font-family: 'Inter', sans-serif;
}

.upper,.bottom {
    background-color: rgb(248, 248, 248);
    flex: auto;
    padding-left: 2rem;
}

.middle {
    background-color: white;
    flex: auto;
    padding-left: 2rem;
    padding-top: 2%;
    font-size: small;
    color: rgb(83, 83, 83);
    font-weight: bold;
}

.middle input {
    font-family: 'Inter', sans-serif;
    font-size: 0.65rem;
    height: 1.3rem;
    border-radius: 0.2rem;
    border: 1px solid #E5E7EB;
    padding-left: 5px;
}

.middle .error {
    border: 1px solid red;
}

input:focus-visible {
    outline: none;
    border: 1px solid #276fff;
    box-shadow: 1px 1px 5px rgb(197, 197, 197);
}

.middle input:hover {
    border: 1px solid #0055ff;
    box-shadow: 1px 1px 5px rgb(197, 197, 197);

}

.middle label {
    margin-bottom: 2px;
}

.middle form div {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
}

.middle form div div {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.middle h2 {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 2%;
    color: black;
}

.bottom > button {
    background-color: #596D48;
    color: white;
    border: 0px;
    border-radius: 5px;
    width: 7rem;
    height: 1.5rem;
    font-size: 70%;
    font-weight: bold;
    margin-bottom: 1.5rem;
    box-shadow: 2px 2px 5px rgb(71, 71, 71);
}

.bottom > button:hover {
    background-color: #598037;
}

.bottom a {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}

.bottom a:hover {
    color:#8fac76;
}

.upper {
    font-weight: bold;
    padding-top: 15%;

}

.bottom {
    padding-top: 4%;
    font-size: smaller;
    padding-bottom: 8%;
    box-shadow: inset 0px 1px 8px rgb(228, 223, 223);
}

.em {
    font-style: italic;
}